* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  
  --bg-color: #83618B;
  --main-color: #4a384e;
  --color-hover: #71377e;
}

header {
  margin-top: 3rem;
  font-size: 3.6rem;
  font-style: italic;
  color: var(--main-color);
  grid-area: A;
  text-align: center;
}

body, a {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.container {
  background-color: var(--bg-color);
  display: grid;
  height: 100vh;
  grid-template-areas: 
  "A A A"
  "B B B"
  "C C C";
}

main {
  grid-area: B;
  margin-inline: 1rem;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sets {
  max-height: 20rem;
  max-width: 50rem;
  background: var(--main-color);
  
  place-content: center;
  font-style: italic;

  padding: 3rem;
  margin-inline: 2rem;
  border-radius: 8px;
}

.btn {
  margin-top: 2rem;
  display: flex;
  
  font-weight: bold;
  color: black;
  font-style: italic;

  justify-content: center;
  align-items: center;
}



footer {
  font-style: italic;
  
  grid-area: C;

  display: flex;
  align-items: center;
  justify-content: center;

  span {
    background: var(--main-color);
    border-radius: 8px;
    padding: 2rem;
  }

  a {
    color: var(--color-hover);
  }
}

@media (max-width: 527px){
  .sets, .btn {
    font-size: 1.4rem;
  }
  
  
}